<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Pragmatic Bookshelf" %>
</div>

<div id="columns">
  <div id="side">

    <!-- START_HIGHLIGHT -->





    <!-- END_HIGHLIGHT -->
    <ul id="links">
      <%= link_to "Create User", new_user_path %>  <!--dee-->
      <%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %>  <!--dee-->
      <li><a href="http://www....">Home</a></li>
      <li><a href="http://www..../faq">Questions</a></li>
      <li><a href="http://www..../news">News</a></li>
      <li><a href="http://www..../contact">Contact</a></li>
      <%= link_to "Logout", logout_path %>              <!--dee-->
      <%= link_to "Login", login_path %>                 <!--dee-->
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>

<div id='header'>
  <% if logged_in? %>
      <%= current_user.email %>
      <%= link_to "Logout", logout_path %>

      <%= link_to "Create User", new_user_path %>

  <% else %>
      <%= link_to "Login", login_path %>
  <% end %>
</div>      <!--dee-->


</body>
</html>
